.hero {
    background: url(../img/back.png) no-repeat;
    background-size: 480px 420px;
    background-position: 79% 100px;
    padding-bottom: 20px;
}

.hero__inner {
    width: 410px;
    padding-top: 90px;
    margin-bottom: 100px;
}

.hero__title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}

.paragraph {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    line-height: 30px;
    color: rgba(125, 121, 135, 1);
    margin-top: 20px;
}

.hero_button {
    margin-top: 30px;
    background-color: rgba(251, 143, 29, 1);
    border-radius: 8px;
    width: 150px;
    color: white;
    padding: 10px;
    height: 40px;
    text-align: center;
    border: 1px solid rgba(251, 143, 29, 1);
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

.button {
    color: white;
}