.reviews {
    background-color: #f8f8f8;
    padding-bottom: 70px;
}

.reviews__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.reviews__text {
    max-width: 450px;
}

.reviews__title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 80px;
    padding-top: 40px;
}

.paragraph2 {
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    line-height: 36px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.autor-name {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 30px;
}

.author-role {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 48px;
    margin-top: -10px;
}

.stars {
    margin-top: 30px;
    padding-bottom: 10px;
}

.photo {
    margin-top: 110px;
    margin-right: 100px;
}

.photo img {
    width: 100%;
    max-width: 320px;
    height: 400px;
}

@media (max-width: 768px) {
    .reviews__inner {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .reviews__title {
        font-size: 25px;
        line-height: 40px;
        padding-bottom: 40px;
    }

    .photo {
        display: none;
    }
    /* .photo {
        margin-right: 0;
        margin-top: 0;
    }

    .photo img {
        width: 80%;
        max-width: 240px;
        height: auto;
    } */

    .reviews__text {
        max-width: 100%;
    }

    .paragraph2 {
        font-size: 14px;
        line-height: 30px;
    }

    .autor-name {
        margin-top: 10px;
        font-size: 14px;
    }

    .author-role {
        font-size: 12px;
        margin-bottom: -30px;
    }

    .stars {
    }
}