.stories {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    padding-bottom: 90px;
}

.title_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.title_stories {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 700;
    margin-left: 10px;
}

.more {
    margin-right: 18px;
    margin-top: 19px;
}

.view__more {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FB8F1D;
    cursor: pointer;
}

.container_stories {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    margin: 0 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.card_content {
    width: 230px;
    margin-top: -60px;
    font-family: 'Inter', sans-serif;
}

.card_content h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 26px;
}

.card_content p {
    color: rgba(125, 121, 135, 1);
    font-size: 14px;
    margin-top: 20px;
    line-height: 26px;
}

.lnk {
    margin-top: 30px;
}

.button__card {
    color: #FB8F1D;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}


@media (max-width: 768px) {

    .more {
        display: none;
    }

    .container_stories {
        margin-bottom: -100px;
        display: flex;
        justify-content: center;
        margin-right: -10px;
    }

    .title_stories {
        font-size: 30px;
        margin-top: 5px;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    .card_content {
        margin-top: -60px;
    }

    .card_content h3 {
        font-size: 17px;
        margin-left: -10px;
    }

    .card_content p {
        font-size: 14px;
        height: 18px;
        margin-top: 5px;
        line-height: 20px;
    }

    .lnk {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .button__card {
        font-size: 16px;
    }
}
